@media (max-width: 992px) {
    .section {
        padding: 70px 0;
    }

    .blog {
        &__content-text {
            margin: 12px 0 22px;
        }

        .news {
            &__item {
                flex-direction: column;
                align-items: center;
                gap: 28px;
            }

            &__content {
                width: 100%;

                &-text {
                    text-align: justify;
                }
            }

            .button {
                width: 100%;
            }
        }
    }

    .footer {
        &__menu {
            margin-top: 40px;
            flex-direction: column;
        }
    }
}